@import 'reset.css';
@import 'fonts/stylesheet.css';
body {
  background-color: black;
  color: white;
  font-family: decima_monoregular;
  font-size: 30px;
}
.info {
  position: absolute;
  display: block;
  top: 250px;
  left: 52px;
  width: 600px;
  height: 800px;
}
ol {
  list-style-type: decimal;
}
li {
  margin-bottom: 72px;
}
