@import 'reset.css';
@import 'fonts/stylesheet.css';

body {
    font-family: decima_mono_ltregular;
    font-size: 20px;
    width: 640px;
    border: solid 1px #fff;
    -webkit-font-smoothing: none;
    background-color: white;
    color: black;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    overflow: hidden;
    /*
     border: solid 1px grey;
     */
}

em {
    font-style: italic;
}

.logopan, .logomtp {
    margin-top: 2ex;
    text-align: center;
}

.logomtp {
    bottom: 0;
}

.bighello, .bigname {
    text-align: left;
    margin-left: .2ex;
    font-size: 350px;
    font-family: decima_monobold;
    font-weight: bolder;
    letter-spacing: -.2ex;
    margin-top: -.2ex;
    margin-bottom: -.2ex;
}

.bigname {
    margin-top: 1.68ex;
}

.intro, .when {
    margin-top: 1ex;
    text-align: center;
    font-size: 30px;
}

.frame {
    position: absolute;
    top: 410px;
    left: 95px;
}

.content {
    background-color:white;
    letter-spacing: -.2ex;
    line-height: 2ex;
    top: 480px;
    left: 100px;
    position: absolute;
    text-align: left;
    width: 350px;
    height: 360px;
    font-weight: 500;
    padding: 1ex 1ex 1ex 1ex;
    overflow: hidden;
    border:solid 24px black;
}
